<section class="content">
    <div class="blur">
        <div class="blur-content">
            <p class="title">More About Us</p>
            <div class="contenta">
                <img class="contenta-image" src="https://cdn.spahotelsguide.com/file/hotcdn/hotel/cover-small/1134399_1565720144.jpg" alt="">
                <p class="abut-us-text"> Welcome to Hotel Sochi, where luxury meets comfort. Situated in the heart of a bustling city, our
                    hotel offers a serene retreat for travelers seeking a memorable experience. With stunning views of
                    the city skyline and world-class amenities, Hotel Sochi is the perfect choice for both business and
                    leisure travelers.

                    Our hotel boasts elegantly appointed rooms and suites, each designed to provide the utmost comfort
                    and convenience. From our state-of-the-art fitness center to our relaxing spa, we ensure that every
                    guest has a rejuvenating stay.

                    At Hotel Sochi, we take pride in our exceptional dining options. Indulge in exquisite cuisine at our
                    fine dining restaurant or unwind with a cocktail at our stylish bar. Our attentive staff is
                    dedicated to providing personalized service to make your stay truly unforgettable.

                    Whether you're here for business or pleasure, Hotel Sochi offers a luxurious escape in the heart of
                    the city. Experience the ultimate in hospitality at Hotel Sochi.
                </p>
                <img class="contenta-image" src="https://www.swissotel.com/assets/0/92/2119/5945/5985/5987/6442451773/a945e77e-deac-4749-9453-cf37f5766bda.jpg" alt="">
            </div>
        </div>
    </div>
</section>