.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 96.5vh;
    background-color: white ;
    overflow: hidden;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.circle {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6px;
    height: 6px;
    background-color: rgba(148, 148, 148, 0.821);
}

.image-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
}

.prev, .next {
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: white;
}

.prev {
    margin-right: 8px;
}

.next {
    margin-left: 8px;
}