<section class="content">
    <div class="table-div">
        <table class="table">
            <thead>
              <tr>
                <th class="header">Name</th>
                <th class="header">Age</th>
                <th class="header">Gender</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="cell">John Doe</td>
                <td class="cell">30</td>
                <td class="cell">Male</td>
              </tr>
              <tr>
                <td class="cell">Jane Smith</td>
                <td class="cell">25</td>
                <td class="cell">Female</td>
              </tr>
            </tbody>
        </table>
    </div>
</section>