<section class="content">
  <div class="not-bookeds" *ngIf="true">
    <img src="https://img.freepik.com/premium-vector/flat-illustration-500-internal-server-error-concept-can-t-connect-server-internet_258153-329.jpg" alt="">
    <p>Server error try again leater :(</p>
  </div>
  <div class="table-div" *ngIf="false">
    <table class="table">
          <tr>
            <th class="header">Costumer name</th>
            <th class="header">Phone num</th>
            <th class="header">Check in</th>
            <th class="header">Check out</th>
            <th class="header">Total price</th>
            <th class="header">Action</th>
          </tr>
          <tr *ngFor="let item of bookeds">
            <td class="cell">{{item.customerName}}</td>
            <td class="cell">{{item.customerPhone}}</td>
            <td class="cell">{{item.checkInDate.slice(0, 10)}}</td>
            <td class="cell">{{item.checkOutDate.slice(0, 10)}}</td>
            <td class="cell">₾{{item.totalPrice}}</td>
            <td class="cell"><button (click)="remove(item.id)">Cancel</button></td>
          </tr>
    </table>
  </div>
</section>