<section class="nav__top">
    <div class="nav__top-d">
        <p class="mdb-m nav-header-start-text">&copy; Made by <a href="https://www.facebook.com/profile.php?id=100022324145453" target="_blank">Nika Natenadze</a></p>
        <div class="nav__top-icons">
            <a class="asbl-1" href="./pages/errorpage/error.html"><i class="fa-solid fa-user nav__top-icon"></i></a>
            <a class="asbl-1" href="./pages/errorpage/error.html"><i class="fa-solid fa-gear nav__top-icon"></i></a>
            <a class="asbl-1" href="./pages/errorpage/error.html"><i class="fa-solid fa-envelope nav__top-icon"></i></a>
            <a class="asbl-1" href="./pages/errorpage/error.html"><i class="fa-solid fa-code nav__top-icon"></i></a>
        </div>
    </div>
</section>
