.login {
    display: flex;
    align-items: center; 
    width: 480px;
    height: auto;
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.250);
    
}

.icon {
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
    width: 200px;
}

.input-list {
    margin-top: 15px;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.inputa {
    width: 70%;
}

.input-text {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 14px;
}

.fp {
    font-family: "Roboto", sans-serif;
    margin-top: 3px;
    color: rgb(185, 2, 185);
    width: 70%;
    font-size: 15px;
}

.separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #707071;
  }

  .separator span {
    color: black;
  }
  
  .separator .line {
    display: block;
    width: 25%;
    height: 1px;
    border: 0;
    background-color: #aeaeae;
  }
  

.input {
    outline: none;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #aeaeae;
    border-radius: 7px;
}

.buttons {
    gap: 3px;
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-class {
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.signinbtn {
    margin-top: 5px;
    background-color: #115DFC;
    color: white;
    transition: 0.3s all ease;
    border: none;
}

.signupbtn {
    background-color: rgb(46, 186, 11);
    color: white;
    transition: 0.3s all ease;
}

.signupbtn:hover {
    background-color: rgb(56, 214, 17);
}

.signinbtn:hover {
    background-color: #1f64fa;
}

.icons {
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    gap: 10px;
    color: black;
    font-size: 30px;
}

.icons i {
    cursor: pointer;
    transition: 0.3s all ease;
}

.icons i:hover {
    color: rgb(167, 167, 167);
    transform: rotate(5deg);
}

.container {
    margin-top: -80px;
    width: 100%;
    height: 96.5vh;
    display: flex;
    background-color: #F4F4F4;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-div {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valtext {
    padding-top: 1px;
    width: 100%;
    height: 22px;
    background-color: white;
    margin-top: -3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid black;
    background-color: rgb(228, 17, 17);
}

.valtext-t {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-left: 5px;
}

.login-title {
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    margin-top: 40px;
}

@media screen and (max-width: 1200px) {
    app-register-slider {
        display: none;
    }

    .form-div {
        width: 100%;
    }

    .login {
        margin-left: 10px;
        margin-right: 10px;
    }
}