<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a routerLink="/aboutus">about us</a></li>
                    <li><a routerLink="/services">our services</a></li>
                    <li><a routerLink="/privpolicy">privacy policy</a></li>
                    <li><a routerLink="/affilate">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a routerLink="/FAQ">FAQ</a></li>
                    <li><a routerLink="/shipping">shipping</a></li>
                    <li><a routerLink="/returns">returns</a></li>
                    <li><a routerLink="/orderStatus">order status</a></li>
                    <li><a routerLink="/payment">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a routerLink="/watch">watch</a></li>
                    <li><a routerLink="/bag">bag</a></li>
                    <li><a routerLink="/shoes">shoes</a></li>
                    <li><a routerLink="/dress">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/profile.php?id=100022324145453"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/NikaNatena7681"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/nikoloznatenaze/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/nika-natenadze-771a702b8/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>