.container {
    width: 300px;
    height: 250px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 10px;

}