<nav class="navigation">
    <div class="nav-title"><img src="../../../assets/logo.png" alt=""></div>

    <div class="nav-buttons">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a>Hotels</a>
        <a>Rooms</a>
        <a>Bocked Rooms</a>
        <a routerLink="/login" routerLinkActive="active">Sign In</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
    </div>
    <div class="nav-buttons-logined">
        <a>Homea</a>
        <a>Products</a>
        <a>Services</a>
        <a>About</a>
        <div class="Profile-info">
            <div class="name">
                <p>Nika Natenadze</p>
            </div>
            <button class="sign-out"><i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
    </div>
    <div class="burgerbar">
        <i (click)="toggleSlide()" class="fa-solid fa-bars"></i>
    </div>
</nav>
<div class="slide-nav" [style.transform]="toggleSlideBar">
        
</div>