<nav class="navigation">
    <div class="nav-title"><p><i class="fa-solid fa-cart-shopping"></i> SHOPER</p> <span style="color: gold;">.GE</span></div>
    <div class="nav-buttons">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a>Products</a>
        <a>Services</a>
        <a>About</a>
        <a>Login in</a>
        <a>Sign up</a>
    </div>
    <div class="nav-buttons-logined">
        <a>Home</a>
        <a>Products</a>
        <a>Services</a>
        <a>About</a>
        <div class="Profile-info">
            <div class="name">
                <p>Nika Natenadze</p>
            </div>
            <button class="sign-out"><i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
    </div>
    <div class="nav-search">
        <input  type="search" placeholder="Search..">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    
</nav>